.nivoSlider {
	position: relative;
	background: url(images/loading.gif) no-repeat 50% 50%;

	img {
		position: absolute;
		top: 0px;
		left: 0px;
		display: none;
	}
	a {
		border: 0;
		display: block;
	}
}
